---
backend:
  name: git-gateway
  branch: main
site_url: https://breastfeeding.scot
media_folder: assets
public_folder: /
logo_url: /logo.svg
collections:
  - name: pages
    label: Pages
    label_singular: Page
    folder: content
    create: true
    format: frontmatter
    preview_path: "{{slug}}/"
    editor: { preview: false }
    fields:
      - label: Title
        name: title
        widget: string
      - label: Content
        name: body
        widget: markdown
  - label: Site settings
    name: site_settings
    delete: false
    editor: { preview: false }
    files:
      - label: Redirects
        name: redirects
        file: data/redirects.yaml
        fields:
          - label: Redirects
            label_singular: Redirect
            name: redirects
            widget: list
            summary: '{{ print "{{from}} → {{to}}" }}'
            fields:
              - label: From
                name: from
                widget: string
                default: "/"
                hint: "Should start with a ‘/’"
              - label: To
                name: to
                widget: string
                hint: "Should either start with a ‘/’ for this site, or ‘https://’ for another site"
